<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <variable name="ROOT_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

